{
  "android": {
    "keystore": {
      "keystorePath": "android/keystores/release.keystore",
      "keystorePassword": "TU_KEYSTORE_PASSWORD",
      "keyAlias": "TU_KEY_ALIAS",
      "keyPassword": "TU_KEY_PASSWORD"
    }
  }
}
